<div>
  <label>Name
    <input [(ngModel)]="name"/>
  </label><br>
  <label>City
    <select [(ngModel)]="city_id">
      <option *ngFor="let city of cities" [value]="city.id">{{city.city}}</option>
    </select>
  </label><br>
  <label>Condition
    <select [(ngModel)]="cond_name" >
      <option *ngFor="let cond of conditions" [ngValue]="cond">{{cond}}</option>
    </select>
  </label><br>
  <label>Value
    <input [(ngModel)]="cond_strength"/>
  </label><br>
  <button (click)="create()">Submit</button>
</div>
